.banner13-wrapper {
  display: contents;
}
.banner13-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
.banner13-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner13-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-fragment1 {
  display: contents;
}
.contact-text18 {
  display: inline-block;
  text-align: center;
}
.contact-fragment2 {
  display: contents;
}
.contact-text19 {
  display: inline-block;
  text-align: center;
}

.contact-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #3b3d3f;
}
.contact-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contact-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-text10 {
  color: #ffffff;
}
.contact-text11 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}
.contact-text12 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}
.contact-burger-menu {
  display: none;
}
.contact-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3b3d3f;
}
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-logo {
  height: 2rem;
}
.contact-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-login {
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-fragment1 {
  display: contents;
}
.contact-text18 {
  display: inline-block;
  text-align: center;
}
.contact-fragment2 {
  display: contents;
}
.contact-text19 {
  display: inline-block;
  text-align: center;
}
.contact-container2 {
  position: relative;
  width: 95%;
  height: auto;
  text-align: center;
}
.contact-image1 {
  display: inline-block;
  width: 5%;
}
.contact-image2 {
  display: inline-block;
  width: 5%;
}
.contact-image3 {
  display: inline-block;
  width: 5%;
}
.contact-image4 {
  display: inline-block;
  width: 5%;
}
@media(max-width: 767px) {
  .contact-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-text13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-text16 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact-mobile-menu {
    padding: 16px;
  }
}
