.banner1-wrapper {
  display: contents;
}
.banner1-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
.banner1-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner1-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner1root-class-name {
  width: 100%;
  height: var(--dl-size-size-xsmall);
}
.banner1root-class-name1 {
  width: 100%;
  height: var(--dl-size-size-xsmall);
}
.banner1root-class-name2 {
  width: 100%;
  height: var(--dl-size-size-xsmall);
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #3b3d3f;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text1 {
  color: #ffffff;
}
.home-text2 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}
.home-text3 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}
.home-burger-menu {
  display: none;
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3b3d3f;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text7 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text8 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: contain;
  object-position: center;
}
.home-container2 {
  position: relative;
  width: 95%;
  height: auto;
  text-align: center;
}
.home-image2 {
  display: inline-block;
  width: 5%;
}
.home-image3 {
  display: inline-block;
  width: 5%;
}
.home-image4 {
  display: inline-block;
  width: 5%;
}
.home-image5 {
  display: inline-block;
  width: 5%;
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text4 {
    color: #ffffff;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text5 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text6 {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text8 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
